<a href="https://colab.research.google.com/github/bwowby/DS/blob/master/ir-basic/cosinesimilarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cosine Similarity 
vector space model 에서 각 벡터끼리의 방향까지 고려한 유사도를 측적하는 공식.

In [1]:
from numpy import dot
from numpy.linalg import norm
import numpy as np

def cos_sim(A,B) :
  return dot(A,B) / (norm(A)*norm(B))

In [2]:
doc1 = np.array([0,1,1,1])
doc2 = np.array([1,0,1,1])
doc3 = np.array([2,0,2,2])

In [3]:
print("doc1~doc2", cos_sim(doc1,doc2))
print("doc1~doc3", cos_sim(doc1,doc3))
print("doc2~doc3", cos_sim(doc2,doc3))

doc1~doc2 0.6666666666666667
doc1~doc3 0.6666666666666667
doc2~doc3 1.0000000000000002

## 코사인 유사도를 이용한 영화 추천 시스템 구현
(feat.Kaggle)
https://wikidocs.net/24603

In [5]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [6]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/the-movie-dataset/movies_metadata.csv', low_memory=False)
data.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [7]:
# 사용할 칼럼은 title,overview -> 좋아하는 영화 입력 시 줄거리가 유사한  영화 추천
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [8]:
#2만개만 학습해보자
data = data.head(20000)

In [9]:
# tf-idf 에서 null 값이 있으면 에러 발생하기에 널체크
data['overview'].isnull().sum()

135

In [10]:
data["overview"] = data["overview"].fillna('')
data['overview'].isnull().sum()

0

In [11]:
tfidf = TfidfVectorizer(stop_words='english')

tfidf_matrix = tfidf.fit_transform(data['overview'])

# 20000개의 영화 중 47487 개의 단어가 사용됨
print(tfidf_matrix.shape)

(20000, 47487)

In [12]:
cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)

In [13]:
# 영화의 타이틀과 인덱스를 가진 테이블
indices = pd.Series(data.index, index = data['title']).drop_duplicates()
indices.head()

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [34]:
def get_recommendations(title,cosine_sim=cosine_sim) :
  # 입력된 영화 타이틀에 해당되는 인덱스 가져옴
  idx = indices[title]

  #모든 영화에 대한 입력 영화의 코사인 유사도 구하기 및 정렬
  sim_scores = list(enumerate(cosine_sim[idx]))
  sim_scores = sorted(sim_scores, key =lambda x:x[1], reverse=True)

  #자기 자신 제외한 가장 유사한 영화 10개
  sim_scores = sim_scores[1:11]

  # 가장 유사한 영화 10개의 인덱스
  movie_indices = [i[0] for i in sim_scores]

  return data['title'].iloc[movie_indices]

In [35]:
get_recommendations('The Dark Knight Rises')

12481                            The Dark Knight
150                               Batman Forever
1328                              Batman Returns
15511                 Batman: Under the Red Hood
585                                       Batman
9230          Batman Beyond: Return of the Joker
18035                           Batman: Year One
19792    Batman: The Dark Knight Returns, Part 1
3095                Batman: Mask of the Phantasm
10122                              Batman Begins
Name: title, dtype: object